/*Root*/
:root {
  --mineshaft: #343434;
  --mineshaft-rgba: rgba(52, 52, 52, 0.8);
  --white: #ffffff;
  --silver: #c5c5c5;
  --tahitigold: #ffa500;
  --dustygray: #949494;
  --red: #c20000;
  --green: #119400;

  /*Social Media*/
  --facebook: #3a549e;
  --instgram: #;
  background: rgb(245, 133, 41);
  /*background: -moz-linear-gradient(152deg, rgba(245,133,41,1) 0%, rgba(254,218,119,1) 25%, rgba(221,42,123,1) 50%, rgba(129,52,175,1) 75%, rgba(81,91,212,1) 100%);
background: -webkit-linear-gradient(152deg, rgba(245,133,41,1) 0%, rgba(254,218,119,1) 25%, rgba(221,42,123,1) 50%, rgba(129,52,175,1) 75%, rgba(81,91,212,1) 100%);
background: linear-gradient(152deg, rgba(245,133,41,1) 0%, rgba(254,218,119,1) 25%, rgba(221,42,123,1) 50%, rgba(129,52,175,1) 75%, rgba(81,91,212,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f58529",endColorstr="#515bd4",GradientType=1);*/
  --twitter: #00aff0;
  --youtube: #e90101;

  --plyr-color-main: var(--tahitigold) !important;
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Comfortaa:wght@300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Libre+Barcode+128&display=swap");


.player {
  --plyr-color-main: #ffa500 !important;
}

html {
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  background-image: url("../media/assets/fitness-colage.png") !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 70%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 70%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#343434", GradientType=1);
}

#error-output {
  display: none;
  border-radius: 25px;
  background-color: #c20000;
  color: #fff;
}

.chartjs-chart-light {
  height: 200px;
  border-radius: 25px;
  /* border: var(--tahitigold) 5px solid; */
}

.top-down-grad-dark {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#343434", GradientType=1);
}

.down-top-grad-dark {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(52, 52, 52, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#343434", GradientType=1);
}

.down-top-grad-tahiti {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(232, 138, 4, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(232, 138, 4, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(232, 138, 4, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffa500", GradientType=1);
}

.top-down-grad-tahiti {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(232, 138, 4, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(232, 138, 4, 1) 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(232, 138, 4, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffa500", GradientType=1);
}

.down-top-grad-white {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

.top-down-grad-white {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

.down-top-grad-white-dark {
  background: rgb(52, 52, 52);
  background: -moz-linear-gradient(180deg, rgba(52, 52, 52, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(52, 52, 52, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(52, 52, 52, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

.top-down-grad-white-dark {
  background: rgb(52, 52, 52);
  background: -moz-linear-gradient(0deg, rgba(52, 52, 52, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(52, 52, 52, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(52, 52, 52, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#ffffff", GradientType=1);
}

.left-right-grad-tahiti-mineshaft {
  background: rgb(232, 138, 4);
  background: -moz-linear-gradient(90deg, rgba(232, 138, 4, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  background: -webkit-linear-gradient(90deg, rgba(232, 138, 4, 1) 0%, rgba(52, 52, 52, -.5) 100%);
  background: linear-gradient(90deg, rgba(232, 138, 4, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa500", endColorstr="#343434", GradientType=1);
}

.left-right-grad-white-mineshaft {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#343434", GradientType=1);
}

.left-right-grad-mineshaft {
  background: rgb(52, 52, 52);
  background: -moz-linear-gradient(90deg, rgba(52, 52, 52, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  background: -webkit-linear-gradient(90deg, rgba(52, 52, 52, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  background: linear-gradient(90deg, rgba(52, 52, 52, 1) 0%, rgba(52, 52, 52, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343434", endColorstr="#343434", GradientType=1);
}

p {
  font-family: "Outfit", sans-serif !important;
}

/* .load-curtain {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  background-color: var(--mineshaft);
  color: var(--white);
} */

sup {
  vertical-align: super;
  font-size: smaller;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.load-curtain {
  height: 100vh;
  width: 100vw;
  background-color: var(--mineshaft);
  color: var(--white);
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background: transparent;
  border: 0px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: var(--tahitigold);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px var(--mineshaft);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .5); */

  /* animation: animate-dark 4s linear infinite; */
}

.ring:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-top: 20px solid var(--white);
  border-right: 5px solid var(--white);
  border-bottom: 5px solid var(--white);
  border-left: 5px solid var(--white);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

/* .ring>span {
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
} */

/* .ring>span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--mineshaft);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px var(--mineshaft);
} */

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.social-link-icon-insta {
  color: var(--white) !important;
  background-color: var(--mineshaft);
  transition: 0.3s;
  border-radius: 15px !important;
}

.social-link-icon-insta:hover {
  transform: scale(0.97, 0.97);

  background: rgb(245, 133, 41);
  background: linear-gradient(152deg, rgba(245, 133, 41, 1) 0%, rgba(254, 218, 119, 1) 25%, rgba(221, 42, 123, 1) 50%, rgba(129, 52, 175, 1) 75%, rgba(81, 91, 212, 1) 100%);

  border-radius: 25px !important;
}

.social-link-icon-twitter {
  color: var(--white) !important;
  background-color: var(--mineshaft);
  transition: 0.3s;
  border-radius: 15px !important;
}

.social-link-icon-twitter:hover {
  transform: scale(0.97, 0.97);
  background-color: var(--twitter) !important;
  border-radius: 25px !important;
}

.social-link-icon-fb {
  color: var(--white) !important;
  background-color: var(--mineshaft);
  transition: 0.3s;
  border-radius: 15px !important;
}

.social-link-icon-fb:hover {
  transform: scale(0.97, 0.97);
  background-color: var(--facebook) !important;
  border-radius: 25px !important;
}

.social-link-icon-yt {
  color: var(--white) !important;
  background-color: var(--mineshaft);
  transition: 0.3s;
  border-radius: 15px !important;
}

.social-link-icon-yt:hover {
  transform: scale(0.97, 0.97);
  background-color: var(--youtube) !important;
  border-radius: 25px !important;
}

.general-light-link-item {
  color: var(--mineshaft) !important;
  background-color: var(--white);
  border-radius: 25px;
  transition: 0.3s;
  border-radius: 15px !important;
}

.general-light-link-item:hover {
  color: var(--tahitigold) !important;
  transform: scale(0.9, 0.9);
  background-color: var(--mineshaft) !important;
  border-radius: 25px !important;
}

.general-dark-link-item {
  color: var(--tahitigold) !important;
  background-color: var(--mineshaft);
  border-radius: 25px;
  border: var(--tahitigold) solid 2px !important;
  transition: 0.3s;
  border-radius: 15px !important;
}

.general-dark-link-item:hover {
  color: var(--mineshaft) !important;
  transform: scale(0.97, 0.97);
  background-color: var(--tahitigold) !important;
  border-radius: 25px !important;
  border: var(--white) solid 2px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "Audiowide", cursive;*/
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  /*color: var(--tahitigold);*/
}

/*=========================> Custom - Scrollbar for .global-scroll*/
/* width */
*::-webkit-scrollbar {
  /*height: 10px;*/
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--tahitigold) !important;
  /*padding: 5px 0;
  margin: 30px 0;
  border-radius: 50rem;*/
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--mineshaft) !important;
  /*border-radius: 50rem;*/
}

/* width */
.survey-frame::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.survey-frame::-webkit-scrollbar-track {
  background: var(--mineshaft) !important;
  /*padding-top: 5px;
  margin: 10px 0;*/
  border-radius: 50rem;
}

/* Handle */
.survey-frame::-webkit-scrollbar-thumb {
  background: var(--white) !important;
  border-radius: 50rem;
}

.no-scroller {
  overflow-y: auto !important;
  max-height: 100vh !important;
}

/* width */
.no-scroller::-webkit-scrollbar {
  width: 0px !important;
}

/* Track */
.no-scroller::-webkit-scrollbar-track {
  background: var(--mineshaft) !important;
  padding-top: 5px;
  margin: 10px 0;
  border-radius: 50rem;
}

/* Handle */
.no-scroller::-webkit-scrollbar-thumb {
  background: var(--white) !important;
  border-radius: 50rem;
  display: none !important;
}

/*White scroller*/
.no-scroller {
  overflow-y: auto !important;
  max-height: 100vh !important;
}

/* width */
.no-scroller::-webkit-scrollbar {
  width: 0px !important;
}

/* Track */
.no-scroller::-webkit-scrollbar-track {
  background: var(--mineshaft) !important;
  padding-top: 5px;
  margin: 10px 0;
  border-radius: 50rem;
}

/* Handle */
.no-scroller::-webkit-scrollbar-thumb {
  background: var(--white) !important;
  border-radius: 50rem;
}

/*chart-col-bar*/
/* width */
.chart-col-bar-item::-webkit-scrollbar {
  width: 0px !important;
}

/* Track */
.chart-col-bar-item::-webkit-scrollbar-track {
  background: var(--mineshaft) !important;
  padding-top: 5px;
  margin: 10px 0;
  border-radius: 50rem;
}

/* Handle */
.chart-col-bar-item::-webkit-scrollbar-thumb {
  background: var(--white) !important;
  border-radius: 50rem;
}

/*=========================> end custom scrollbar*/

.audiowide-font {
  font-family: "Audiowide", cursive !important;
}

.comfortaa-font {
  font-family: "Comfortaa", cursive !important;
}

.outfit-font {
  font-family: "Outfit", sans-serif !important;
}

.barcode-font {
  font-family: 'Libre Barcode 128', cursive;
  font-size: 20px !important;
}

.logo-size-1 {
  max-height: 50px !important;
}

.logo-size-2 {
  max-height: 100px !important;
}

.logo-size-3 {
  max-height: 150px !important;
}

.user-profile-pic {
  background-image: url("../media/profiles/system_tmp/photo-1574680096145-d05b474e2155.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;

  height: 200px !important;
  width: 200px !important;
  overflow: hidden;

  margin-top: -100px;
  max-height: 200px;
  border-radius: 50%;
  border-color: var(--tahitigold) !important;
  background-color: var(--mineshaft);
}

.material-icons {
  font-size: 48px !important;
}

.navbar-style {
  background-color: var(--mineshaft);
  color: var(--white);
}

.onefit-buttons-style-light {
  background: var(--white);
  color: #333 !important;

  border: 0;
  border-radius: 15px;
  transition: 0.2s;
}

.onefit-buttons-style-light:hover {
  color: var(--tahitigold) !important;
  border-bottom: solid var(--tahitigold) 5px;

  transform: scale(1.05, 1.05);
}

.onefit-buttons-style-light:active {
  color: var(--tahitigold) !important;
  border: solid var(--tahitigold) 7px;
  transform: scale(0.5, 0.5);
}

.onefit-buttons-style-light-modal {
  background: var(--white);
  color: var(--mineshaft) !important;
  font-size: 20px !important;

  border: 0;
  border-radius: 15px;
  transition: 0.2s;
}

.onefit-buttons-style-dark-modal {
  background: var(--mineshaft);
  color: var(--white) !important;
  font-size: 15px !important;
  font-family: "Comfortaa", cursive !important;

  border: 0;
  border-radius: 15px;
  transition: 0.2s;
}

.onefit-buttons-style-dark-modal:hover {
  color: var(--tahitigold) !important;
}

.onefit-buttons-style-dark {
  background: var(--mineshaft);
  color: var(--white) !important;

  border: 0;
  border-radius: 15px;
  transition: 0.2s;
}

.onefit-buttons-style-dark:hover {
  color: var(--tahitigold) !important;
  border-bottom: solid var(--tahitigold) 5px;
  transform: scale(1.05, 1.05);
}

.onefit-buttons-style-dark:active {
  color: var(--tahitigold) !important;
  border: solid var(--tahitigold) 7px;
  transform: scale(0.5, 0.5);
}

.onefit-buttons-style-tahiti {
  background: var(--tahitigold);
  color: var(--mineshaft) !important;

  border: 0;
  border-radius: 15px;
  transition: 0.2s;
}

.onefit-buttons-style-tahiti:hover {
  color: var(--white) !important;
  border-bottom: solid var(--white) 5px;
  transform: scale(1.05, 1.05);
}

.onefit-buttons-style-tahiti:active {
  color: var(--mineshaft) !important;
  border: solid var(--mineshaft) 7px;
  transform: scale(0.5, 0.5);
}

.onefit-buttons-style-danger {
  background: var(--red);
  color: var(--white) !important;

  border: 0;
  border-radius: 15px;
  transition: 0.2s;
}

.onefit-buttons-style-danger:hover {
  color: var(--white) !important;
  border-bottom: solid var(--white) 5px;
  transform: scale(1.1, 1.1);
}

.onefit-buttons-style-danger:active {
  color: var(--red) !important;
  background-color: var(--white);
  border: solid var(--red) 7px;
  transform: scale(0.5, 0.5);
}

.application-error-msg {
  display: flex;
  position: fixed;
  color: #fff;
  background: #333;
  bottom: 30px;
  left: 50vw;
  margin-left: -25vw;

  width: 50vw;
  z-index: 1031;
  padding: 20px 25px;
  border-radius: 25px;
  text-align: center;

  align-items: center;
  justify-content: space-around;
}

.feature-tab-nav-content {
  border-radius: 25px !important;
  overflow-x: hidden !important;
  background-color: var(--mineshaft);
  color: var(--white);
  font-size: 18px !important;
}

.content-tab {
  min-height: 70vh;
  color: var(--white);
  background-color: var(--mineshaft-rgba);
  font-family: "Outfit", sans-serif !important;
  border-radius: 25px;

  border-left: var(--tahitigold) solid 5px;
  border-bottom: var(--tahitigold) solid 5px;
}

.offcanvas-menu-primary-style {
  background-image: url("../media/assets/fitness-colage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--mineshaft);
  overflow-x: hidden;
}

.offcanvas-menu-primary-style a {
  color: var(--white) !important;
  /*font-family: "Outfit", sans-serif;*/
  font-family: "Comfortaa", cursive !important;
}

.offcanvas-menu-primary-style a:hover {
  color: var(--tahitigold) !important;
}

#offcanvas-menu {
  background-color: rgba(52, 52, 52, 0.9);
  /*rgba(248, 158, 0, 0.9)*/
}

.mainapp-footer {
  background-color: rgba(52, 52, 52, 0.7);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--mineshaft);
  transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--white) !important;
  border-left: var(--white) solid 5px;
  padding-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--tahitigold);
  border-left: var(--tahitigold) solid 5px;
  padding-left: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--mineshaft);
  background-color: var(--tahitigold);
  border-color: var(--tahitigold);
  border-width: 5px;
}

.nav-tabs .nav-link {
  margin-bottom: -1 px;
  background: 0 0;
  border: 0;
  border-radius: 15px 15px 0 0;
  color: var(--tahitigold);
}

.nav-tabs .nav-link:hover {
  color: var(--white);
  border-bottom: var(--tahitigold) solid 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--white);
  background: rgb(232, 138, 4);
  background: linear-gradient(180deg, rgba(232, 138, 4, 1) 0%, rgba(52, 52, 52, 1) 100%);

  border-radius: 15px 15px 0 0;
  border-top: var(--white) solid 5px;
  /*border-bottom: var(--tahitigold) solid 5px;*/
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--white);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  border-radius: 25px 25px 0 0 !important;
  transition: 0.4s;
  font-weight: bold;
  margin: 5px;
}

.nav-link:hover {
  /*border-bottom: var(--tahitigold) 5px solid;*/
  color: var(--tahitigold);
  transform: scale(1.1, 1.1);
}

.form-control-text-input {
  border-radius: 50rem;
  font-size: 20px;
  text-align: center !important;
  border: 0;
  width: 100%;
  color: var(--mineshaft);

  transition: 0.2s;
}

.form-control-text-input:focus {
  outline: 0;
  border-left: var(--tahitigold) solid 10px;
  border-right: var(--tahitigold) solid 10px;
  color: var(--tahitigold);

  border-radius: 50rem;
}

.form-control-select-input {
  border-radius: 50rem;
  font-size: 20px;
  text-align: center !important;
  border: 0;
  width: 100%;

  transition: 0.2s;
}

.form-check-input {
  width: 2em;
  height: 2em;
  border: var(--tahitigold) 3px solid;
  border-radius: 10px !important;
  background-color: #333;
}

.form-check-input:checked {
  color: var(--mineshaft);
  background-color: var(--tahitigold);
  border-color: var(--tahitigold);
  outline: 0 !important;
}

.onefit-inputs-style {
  border-radius: 50rem;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 20px;
}

.quick-post-input {
  border-radius: 25px;
  font-size: 18px;
  border: 0;
  border-radius: 25px;
  width: 100%;
  padding: 20px;

  transition: 0.3s;
}

.quick-post-input:focus {
  outline: 0;
  border-bottom: var(--tahitigold) solid 5px;
}

.width-100 {
  width: 100%;
}

.max-100vh {
  max-height: 100vh !important;
}

.max-100vw {
  max-width: 100vw !important;
}

.max-50vh {
  max-height: 50vh !important;
}

.max-50vw {
  max-width: 50vw !important;
}

.form-control-confirm-button {
  background: var(--tahitigold);
  color: var(--white);
  font-size: 20px;

  border: 0;
  border-radius: 25px;
  transition: 0.3s;
}

.form-control-confirm-button:hover {
  background: var(--green);
  color: var(--white) !important;
  /* var(--white) !important */
  border-bottom: var(--white) solid 10px;
}

.form-control-cancel-button {
  background: red;
  color: var(--white) !important;
  font-size: 40px;

  border: 0;
  border-radius: 25px;
  transition: 0.3s;
}

.tahiti-links {
  text-decoration: none;
  color: var(--tahitigold) !important;

}

.tahiti-links:hover {
  color: var(--white) !important;
}

.tunnel-bg-container {
  background: url("../media/assets/One-Tunnel.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.tunnel-bg-container-static {
  background: url("../media/assets/One-Tunnel.png");
  background-position: center;
  background-size: cover;
  background-attachment: local;
}

.tunnel-bg-container-inverse {
  background: url("../media/assets/One-Tunnel-White.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.tunnel-bg-container-inverse-static {
  background: url("../media/assets/One-Tunnel-White.png");
  background-position: center;
  background-size: cover;
  background-attachment: local;
}

.fitness-bg-container {
  background-image: url("../media/assets/fitness-colage.png") !important;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.grid-container {
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.variable-grid-container {
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  /*grid-gap: 15px;*/
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /*grid-auto-rows: 200px;
  grid-auto-flow: dense;*/
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;

  overflow-x: auto;
}

.wide-grid-tile {
  grid-column: span 2;
  border-radius: 25px;
}

.full-wide-grid-tile {
  grid-column: span 3;
  border-radius: 25px;
}

.tall-grid-tile {
  grid-row: span 2;
  border-radius: 25px;
}

.full-tall-grid-tile {
  grid-row: span 3;
  border-radius: 25px;
}

.grid-tile {
  border-radius: 25px;
}

.grid-tile-100 {
  width: 1170px;
}

.content-panel-border-style {
  border-left: var(--tahitigold) solid 5px;
  border-bottom: var(--tahitigold) solid 5px;
  border-radius: 25px;
  color: var(--white);
  /*background-color: var(--mineshaft);*/
  overflow: hidden;
}

.social-link {
  cursor: pointer;
}

.social-link a {
  color: var(--white) !important;
}

.social-link span {
  background-color: var(--tahitigold) !important;
}

.social-link a:hover {
  color: var(--tahitigold) !important;
}

.social-link a:focus {
  color: var(--tahitigold) !important;
}

.social-update-card {
  background-color: var(--mineshaft);
  color: var(--white);
  /*border: var(--white) solid 5px;*/
  border-radius: 25px !important;
  overflow: hidden;
}

.social-update-profile-pic {
  background-image: url("../media/profiles/0_default/default_profile_pic.png");
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-attachment: local !important;

  height: 150px !important;
  width: 150px !important;
  overflow: hidden;
  margin: auto !important;

  border-radius: 50%;
  border-color: var(--tahitigold) !important;
  background-color: var(--mineshaft);
}

.group-card-profile-pic {
  background-image: url("../media/profiles/system_tmp/photo-1574680096145-d05b474e2155.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;

  height: 300px !important;
  width: 300px !important;
  overflow: hidden;

  border-radius: 50%;
  border-color: var(--tahitigold);
  border-left: var(--tahitigold) solid 15px;
  border-right: var(--mineshaft) solid 50px;
  border-top: var(--mineshaft) solid 15px;
  border-bottom: var(--tahitigold) solid 15px;
  background-color: var(--mineshaft);

  transition: .4s;
}

.group-card-profile-pic:hover {
  border-color: var(--tahitigold);
  border-left: var(--tahitigold) solid 50px;
  border-right: var(--mineshaft) solid 15px;
  border-top: var(--mineshaft) solid 15px;
  border-bottom: var(--tahitigold) solid 15px;
}

.post-content {
  font-size: 20px !important;
}

div.horizontal-scroll {
  width: 100%;
  height: auto;
  overflow-x: auto;
  border-radius: 25px;
  white-space: nowrap;
}

div.horizontal-scroll-card {
  display: inline-block;
  min-width: 10vw;
  min-height: 100px;
  border-radius: 25px;
  background-color: var(--mineshaft);
}

div.horizontal-scroll-card-nav {
  display: inline-block;
  width: 200vw;
  min-height: 5vh;
  /*border-radius: 25px;
  background-color: var(--mineshaft);*/
}

.modal-grid-tile-transform {
  transition: 0.3s;
}

.modal-grid-tile-transform:hover {
  transform: scale(1.1, 1.1);
}

.training-schedule-container {
  min-height: 500px;
  width: 100%;
  border-radius: 25px;
}

.chart-col-bar {
  background-color: var(--mineshaft);
  color: var(--white);
  font-weight: bold;
  border-radius: 25px;
  transition: 0.3s;
}

.chart-col-bar:hover {
  transform: scale(1.1, 1.1);
}

.chart-col-bar-item {
  min-height: 100px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  transition: 0.3s;
}

.chart-col-bar-item img {
  max-height: 50px;
  filter: invert(100%);
}

.chart-col-bar-item:hover {
  transform: scale(0.8, 0.8);
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--mineshaft);
  text-align: left;
  background-color: var(--white);
  border: 0;
  border-radius: 25px !important;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button:not(.collapsed) {
  color: var(--white);
  background-color: var(--tahitigold);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body {
  background-color: var(--mineshaft);
  color: var(--white);
}

.accordion-item {
  background-color: var(--mineshaft);
  border-radius: 25px !important;
  overflow: hidden;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: auto !important;
  /*min-width: 200px;*/
  max-width: 100%;
  height: auto;
  background-color: var(--white);
  color: var(--mineshaft);
  font-size: 20px;
}

.border {
  border: 8px solid var(--mineshaft);
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: var(--mineshaft) transparent transparent transparent;
}

.tri-right.left-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: var(--white) transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: var(--mineshaft) var(--mineshaft) transparent transparent;
}

.tri-right.left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: var(--white) var(--white) transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent var(--mineshaft);
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent var(--white);
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  right: auto;
  top: auto;
  bottom: -40px;
  border: 20px solid;
  border-color: var(--mineshaft) transparent transparent var(--mineshaft);
}

.tri-right.btm-left-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mineshaft) transparent transparent var(--mineshaft);
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: var(--mineshaft) var(--mineshaft) transparent transparent;
}

.tri-right.btm-right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 38px;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--mineshaft) var(--mineshaft) transparent transparent;
}

/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent var(--mineshaft);
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent var(--white);

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -8px;
  bottom: -40px;
  border: 20px solid;
  border-color: var(--mineshaft) var(--mineshaft) transparent transparent;
}

.tri-right.btm-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--white) var(--white) transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: var(--mineshaft) transparent transparent var(--mineshaft);
}

.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: var(--white) transparent transparent var(--white);
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -40px;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: var(--mineshaft) transparent transparent transparent;
}

.tri-right.right-top:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 0px;
  bottom: auto;
  border: 20px solid;
  border-color: var(--white) transparent transparent transparent;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}

.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*Create button */
.create-btn-container {
  z-index: 1999;
  position: fixed;
  top: 50vh;
  right: 10px;
  background-color: var(--mineshaft) !important;
  color: var(--white) !important;
  border-radius: 25px !important;
}

/*./Create nutton*/

.load-curtain-social-btn-panel {
  z-index: 1999;
  position: fixed;
  top: 10vh;
  left: 0px;
  background-color: var(--mineshaft) !important;
  color: var(--white) !important;
  border-radius: 0 25px 25px 0 !important;
  max-height: 70vh !important;
}

.video-card-container {
  position: relative !important;
}

.video-card-container img {
  width: 100%;
  border-radius: 25px;
}

.video-card-container .play-btn {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  cursor: pointer;
}

.in-div-button-container {
  position: relative !important;
  /* max-width: 30vw; */
}

.in-div-button-container img {
  width: 100%;
  border-radius: 25px;
}

.in-div-button-container .in-div-btn {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  transform: translate(10px, 10px) !important;
  -ms-transform: translate(10px, 10px) !important;
  cursor: pointer;
}

.profile-item-button {
  transition: .3s;
  cursor: pointer;
}

.profile-item-button:hover {
  transform: scale(1.1, 1.1) !important;
  border-radius: 15px !important;
  background-color: #343434 !important;
  color: #fff !important;
  border: #ffa500 solid 1px !important;
  animation: animate-tahiti 4s linear infinite;
}

/*Animations Only!*/
.my-pulse-animation-tahiti {
  background: transparent;
  border-radius: 50rem;
  animation: animate-tahiti 4s linear infinite;
  cursor: pointer;
}

@keyframes animate-tahiti {
  0% {
    box-shadow: 0 0 0 0 var(--tahitigold);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(255, 165, 0, 0);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(255, 165, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 165, 0, 0);
  }
}

.my-pulse-animation-dark {
  background: transparent;
  border-radius: 50rem;
  animation: animate-dark 4s linear infinite;
  cursor: pointer;
}

@keyframes animate-dark {
  0% {
    box-shadow: 0 0 0 0 var(--mineshaft);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(255, 165, 0, 0);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(255, 165, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 165, 0, 0);
  }
}

.my-pulse-animation-light {
  background: transparent;
  border-radius: 50rem;
  animation: animate-light 4s linear infinite;
  cursor: pointer;
}

@keyframes animate-light {
  0% {
    box-shadow: 0 0 0 0 var(--white);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(255, 165, 0, 0);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(255, 165, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 165, 0, 0);
  }
}

.screen:after {
  animation: flicker 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  opacity: 0.8;
  z-index: 2;
}

.screen:before {
  animation: skew 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  opacity: 0.8;
  z-index: 3;
}

.screen:after,
.screen:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.screen,
.screen:after,
.screen:before {
  /* background-image: linear-gradient(90deg, #073e59 0, #073e59 17%, #ffffff 17%, #ffffff 34%, #3c017d 34%, #3c017d 51%, #131313 51%, #131313 70%, #000000 70%, #000000 75%, #131313 75%, #131313 79%, #262626 79%, #262626 84%, #131313 84%, #131313 100%), linear-gradient(90deg, #0000ff 0, #0000ff 14%, #131313 14%, #131313 28%, #ff00fe 28%, #ff00fe 42%, #131313 42%, #131313 56%, #01ffff 56%, #01ffff 70%, #131313 70%, #131313 84%, #cccccc 84%, #cccccc 100%), linear-gradient(90deg, #cccccc 0, #cccccc 14%, #ffff00 14%, #ffff00 28%, #01ffff 28%, #01ffff 42%, #00ff01 42%, #00ff01 56%, #ff00fe 56%, #ff00fe 70%, #fe0000 70%, #fe0000 84%, #0000ff 84%, #0000ff 100%); */
  /* background-position: 50% 43px, 50% 34px, 50% 0; */
  /* background-image: url("../media/assets/One-Logo-Vertical.png");
  background-repeat: repeat-x;
  background-size: 100px 50px; */
  animation: flicker 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  opacity: 0.8;
  z-index: 2;
}

.screen {
  /* border: 1px solid black;
  height: 50px;
  left: 50%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  z-index: 1; */
  animation: flicker 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  opacity: 0.8;
  z-index: 2;
}

@keyframes flicker {
  0% {
    filter: hue-rotate(0deg);
    opacity: 0;
    transform: translateX(0);
  }

  89% {
    opacity: 0;
    transform: translateX(0);
  }

  90% {
    opacity: 0.9;
    transform: translateX(2px);
  }

  91% {
    transform: translateX(0);
  }

  92% {
    filter: hue-rotate(0deg);
    transform: translateX(-1px);
  }

  93% {
    filter: hue-rotate(30deg);
    transform: translateX(-2px);
  }

  95% {
    filter: blur(1px);
    transform: translateX(6px);
  }

  97% {
    filter: hue-rotate(5deg);
    transform: translateX(-1px);
  }

  98% {
    filter: blur(0px);
    filter: hue-rotate(0deg);
    transform: translateX(2px);
  }

  99% {
    opacity: 0.9;
    transform: translateX(-3px);
  }

  100% {
    filter: hue-rotate(0deg);
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes skew {
  0% {
    opacity: 0.7;
    transform: skew(0deg, 0deg);
  }

  10% {
    transform: skew(0deg, 0deg);
  }

  12% {
    filter: hue-rotate(0deg);
    transform: skew(-15deg, 0deg);
  }

  14% {
    filter: hue-rotate(-10deg);
    opacity: 0.5;
    transform: skew(15deg, 0deg);
  }

  16% {
    filter: hue-rotate(25deg);
    opacity: 0.7;
    transform: skew(0deg, 0deg);
  }

  17% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: skew(0deg, 0deg);
  }
}

/*Custome Breakpoint Classes*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wide-grid-tile {
    grid-column: span 1 !important;
    border-radius: 25px;
  }

  .full-wide-grid-tile {
    grid-column: span 1 !important;
    border-radius: 25px;
  }

  .tall-grid-tile {
    grid-row: span 1 !important;
    border-radius: 25px;
  }

  .full-tall-grid-tile {
    grid-row: span 1 !important;
    border-radius: 25px;
  }
}

/* Draggable Div */
#drag-player-pin {
  position: absolute;
  z-index: 9;
  background-color: #333333;
  border: 0px solid #d3d3d3;
  text-align: center;

  color: #FFFFFF;
  font-family: Arial;
  font-size: 10px;
  line-height: 20px;
  /* filter: drop-shadow(5px 5px 3px #ffa500); */
  text-align: center;
  width: 142px;
  /* height: 140px; */
  height: auto;
  border-radius: 10px;
  padding: 0px;

  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 10px;
}

/* #drag-player-pin:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #333333 transparent;
  border-width: 20px 20px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
} */

#drag-player-pinheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  border-radius: 10px;
  /* background-color: #ffa500; */
  background-color: transparent;
  color: #333;
}

.drag-player-pin-container {
  position: relative;
  background: #333333;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 10px;
  line-height: 20px;
  /* filter: drop-shadow(5px 5px 3px #A3A3A3); */
  text-align: center;
  width: 142px;
  /* height: 140px; */
  border-radius: 10px;
  padding: 0px;
  overflow-x: hidden;
}

.drag-player-pin-container:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #333333 transparent;
  border-width: 20px 20px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wide-grid-tile {
    grid-column: span 2 !important;
    border-radius: 25px;
  }

  .full-wide-grid-tile {
    grid-column: span 2 !important;
    border-radius: 25px;
  }

  .chartjs-chart-light {
    height: 400px !important;
  }

  .insight-chart-container {
    min-height: 400px !important;
    min-width: 400px !important;
    border-radius: 25px !important;
    overflow-x: auto;
  }

  .in-div-button-container {
    width: 100% !important;
  }

  /*.tall-grid-tile {
    grid-row: span 2 !important;
    border-radius: 25px;
  }

  .full-tall-grid-tile {
    grid-row: span 2 !important;
    border-radius: 25px;
  }*/
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .chartjs-chart-light {
    height: 400px !important;
  }

  .in-div-button-container {
    width: 100% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .full-wide-grid-tile {
    grid-column: span 3 !important;
    border-radius: 25px;
  }

  .in-div-button-container {
    max-width: 30vw !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .full-wide-grid-tile {
    grid-column: span 3 !important;
    border-radius: 25px;
  }

  .in-div-button-container {
    max-width: 30vw !important;
  }
}